@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');
body{
    font-family: 'Baloo Bhaina 2', cursive !important;
}

h1{
    font-size: 60px !important;
}

.roundedd{
    border-radius: 50px !important;
}

.text-color{
    color: #ececec !important;
}

.color-primary{
    background: #3f51b5 !important;
}

.shadow-i{
    border-radius: 50px !important;
    background: #ffffff !important;
    box-shadow: 10px 10px 20px #666666, 
    -10px -10px 20px #ffffff !important;
}

.casos-totales{
    background: #142850 !important;
}
.casos-activos{
    background: #fa744f !important;
}
.total-muertes{
    background: #c81912 !important;
}
.casos-hoy{
    background: #ffa41b !important;
}
.muertes-hoy{
    background: #4d089a !important;
}
.recuperados{
    background: #015668 !important;
}
.pruebas{
    background: #2d132c !important;
}

.container, .animate-opacity{
    animation: opacidad 1s alternate;
}

@keyframes opacidad{
    from {opacity: 0;}
    to{opacity: 1;}
}

.rotate{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }